@{
  Layout = "_Layout";
}

@using Tracker.Models;

<h1 class="is-size-1 has-text-centered">Order Details</h1>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/orders">Orders</a></li>
    <li class="is-active"><a href="/orders/show" aria-current="page">Order Details</a></li>
  </ul>
</nav>

<table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th style="width:5%;">ID#:</th>
      <th style="width:5%;">Vendor:</th>
      <th style="width:15%;">Title:</th>
      <th style="width:15%;">Description:</th>
      <th style="width:10%;">Price:</th>
      <th style="width:10%;">Date:</th>
      <th style="width:10%;">Notes:</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>@Model["order"].Description</td>
      <td>@Model["order"].Title</td>
      <td>@Model["order"].Description</td>
      <td>@Model["order"].Price</td>
      <td>@Model["order"].Date</td>
      <td>@Model["order"].Notes</td>
    </tr>
  </tbody>
</table>

<a class="button is-success is-outlined" href='/vendors/@Model["vendor"].Id/order/new'>+ Add another order</a>
<a class="button is-success is-outlined" href='/vendors'>View all Vendors</a>